/* ==========================================================================
   Navigation

   This file is exclusively intended for setting up variables.
   Never add styles directly to this file
   ========================================================================== */


/* General
   ========================================================================== */
$use-navigation-small:                              true;


/* Scafolding
   ========================================================================== */
//General
$navigation-height:                                 5rem;


//Navigation item
$navigation-item-float:                             left;
$navigation-item-width:                             auto;
$navigation-item-text-align:                        center;
$navigation-item-small-text-align:                  left;
$navigation-item-link-padding:                      1.5em;


//Sublevel
$navigation-sublevel-z-index:                       10;
$navigation-sublevel-width:                         auto;

$navigation-sublevel-item-float:                    none;
$navigation-sublevel-item-text-align:               left;


//Navigation toggle
$navigation-toggle-top-text-align:                  right;



/* Colors
   ========================================================================== */
//General
$navigation-background:                             $black;
$navigation-small-background:                       $black;


//Navigation item
$navigation-item-color:                             $white;

$navigation-item-active-background:                 $white;
$navigation-item-active-color:                      $green;

$navigation-item-hover-background:                  $gray-dark;
$navigation-item-hover-color:                       $white;

$navigation-small-item-color:                       $white;

$navigation-small-item-active-background:           $white;
$navigation-small-item-active-color:                $green;


//Sublevel
$navigation-sublevel-background:                    $gray-dark;

$navigation-sublevel-item-color:                    $white;
$navigation-sublevel-item-active-background:        $green;
$navigation-sublevel-item-hover-background:         $green-dark;
$navigation-sublevel-item-hover-color:              $white;

$navigation-small-sublevel-item-color:              $black;
$navigation-small-sublevel-background:              $gray-light;

$navigation-small-sublevel-item-active-background:  $green-dark;
$navigation-small-sublevel-item-active-color:       $white;


//Navigation toggle
$navigation-toggle-color:                           $white;
$navigation-toggle-top-background:                  $black;

$navigation-sublevel-toggle-color:                  $green;
$navigation-sublevel-toggle-border-color:           $white;
$navigation-sublevel-toggle-active-color:           $white;


//Navigation small
$navigation-small-link-border-top-color:            $white;
