/* ==========================================================================
   Main Scaffolding of the App
   ========================================================================== */

/* App
   ========================================================================== */
.app {
    background: $blue-ultralight;
}


/* App Header
   ========================================================================== */
.app__header {
    background: $black;
}

.app__header__brand {
    display: block;

    background: $green;
    font-size: 1.5em;
    line-height: $navigation-height;
    color: $white;
}

.app__header__brand__link {
    color: inherit;
    &:hover {
        color: inherit;
        text-decoration: none;
    }
}


/* App Main
   ========================================================================== */
.app__main {
    position: relative;

    width: 100%;
    overflow: hidden;
}

.app__main--altered-state {
    .app__content {
        border-left-color: $gray-light;
        @media (max-width: $screen-sm) {
            -webkit-transform: translateX(-webkit-calc(100% - 3.5em));
                  -moz-transform: translateX(-moz-calc(100% - 3.5em));
                        transform: translateX(calc(100% - 3.5em));
        }
        @media (min-width: $screen-sm) and (max-width: $screen-md){
            -webkit-transform: translateX(-webkit-calc(28em));
                  -moz-transform: translateX(-moz-calc(28em));
                        transform: translateX(calc(28em));
        }
        @media (min-width: $screen-md) {
            margin-left: 0;
            @extend .col-md-12;
        }
    }
}

/* App Sidebar
   ========================================================================== */
.app__sidebar {
    z-index: 0;
    position: absolute;


    @media (max-width: $screen-md) {
        z-index: 0;
        position: absolute;
        top: 0;
        left: 0;

        padding-right: 4.5em;
    }
    @media (min-width: $screen-sm) and (max-width: $screen-md){
        width: 30em;
    }
}


/* App Content
   ========================================================================== */
.app__content {
    z-index: 1;
    position: relative;
    background: $white;

    border: 1px solid $gray-light;
    border-top-color: $white;
    border-right-color: $white;
    border-left-color: $white;

    @media (max-width: $screen-md) {
        @include transform-style(preserve-3d);
        @include transition-property (transform);
        @include transition-duration(.3s);
        @include transition-timing-function(ease);
    }

    @media (min-width: $screen-md) {
        border-left-color: $gray-light;

        @extend .col-md-offset-3;

        @include transition-property (width, margin);
        @include transition-duration(.3s);
        @include transition-timing-function(ease);
    }
}


/* App Sidebar Toggle
   ========================================================================== */
.app__sidebar-toggle {
    position: absolute;
    top: 1em;
    left: 1em;
}


/* App Footer
   ========================================================================== */
.app__footer {
    padding-top: 1em;
    padding-bottom: 1em;
}
