{% if locales|length > 1 %}
{% set route_params = app.request.attributes.get('_route_params') %}
{% set route_params = route_params|merge(app.request.query.all) %}
    <!-- Navigation - Item with sub-items -->
    <li class="navigation__item navigation__item--right text--upper">
        <a href="#language" class="js-navigation__toggle navigation__link">
            {{ app.request.attributes.get('_locale') }}
            <!-- Navigation - Sublevel toggle -->
            <button class="btn--reset navigation__toggle navigation__toggle--sublevel">
                <i class="fa fa--chevron-down navigation__toggle__sublevel-open-icon"></i>
                <i class="fa fa--chevron-up navigation__toggle__sublevel-close-icon"></i>
            </button>
        </a>


        <ul class="navigation__level navigation__level--sublevel">
            {% for locale in locales %}
            <li class="navigation__item navigation__item--sublevel {% if app.request.attributes.get('_locale') == locale %}navigation__item--active{% endif %}">
                <a href="{{ path(route,  route_params | merge({'_locale': locale})) }}" class="navigation__link navigation__link--sublevel">
                    {{ locale }}
                </a>
            </li>
            {% endfor %}
        </ul>
    </li>
{% endif %}
