<noscript>
    <div class="app-warningbox">
        <div class="app-warningbox__no-js">
            This website won't work properly without JavaScript enabled. <br>
             Some content may be lost or not display correctly <br>
             <strong>Please enable Javascript</strong> to improve your experience.
        </div>
    </div>
</noscript>

<!--[if lt IE 8]>
    <div class="app-warningbox">
        <div class="app-warningbox__old-browser">
            You are using an <strong>outdated</strong> browser.<br>
            Some content may be lost or not display correctly <br>
            <strong>Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</strong>
        </div>
    </div>
<![endif]-->
