{% set adminmenu = admin_menu_get() %}
{% set extraclasshtml %}{% block extraclasshtml %}{% endblock %}{% endset %}

<!DOCTYPE html>
<!--[if IE 8]> <html class="no-js ie8 oldie {{ extraclasshtml }}" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js {{ extraclasshtml }}" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="robots" content="noindex, nofollow">

    <title>{% block title %}{{ websitetitle | trans }}{% endblock %}</title>

    {% include 'KunstmaanAdminBundle:Default:_favicons.html.twig' %}
    {% include 'KunstmaanAdminBundle:Default:_css.html.twig' %}
    {% include 'KunstmaanAdminBundle:Default:_js_header.html.twig' %}

</head>
<body {% block extraparamsinbody %}{% endblock %} class="app">
{% block body %}

    <!-- App Warnings -->
    {% block appwarnings %}
        {% include 'KunstmaanAdminBundle:Default:appwarnings.html.twig' %}
    {% endblock %}

    <!-- App Header -->
    {% block mainnavigation %}
        {% include 'KunstmaanAdminBundle:Default:mainheader.html.twig' %}
    {% endblock %}

    <!-- App Main -->
    <main role="main" id="app__main" class="container-fluid app__main">
        <div class="row">
            {% set lowestTopChild = adminmenu.lowestTopChild %}
            {% if lowestTopChild %}
                {% set navigationChildren = lowestTopChild.navigationChildren %}
            {% endif %}
            {% if lowestTopChild and navigationChildren | length > 0 %}
                <!-- App Sidebar -->
                <aside id="app__sidebar" class="col-md-3 col--padded-large app__sidebar">
                    {% include "KunstmaanAdminBundle:Default:sidebar.html.twig" %}
                </aside>
                <!-- App Content -->
                <div id="app__content" class="col-md-9 col--padded-large app__content">
                    <!-- App Sidebar Toggle -->
                    <button type="button" id="app__sidebar-toggle" class="btn--reset app__sidebar-toggle">
                        <span class="app__sidebar-toggle__show-icon">
                            <i class="fa fa--caret-right"></i>
                            <i class="fa fa--list-ul"></i>
                        </span>
                        <span class="app__sidebar-toggle__hide-icon">
                            <i class="fa fa--caret-left"></i>
                            <i class="fa fa--list-ul"></i>
                        </span>
                    </button>
            {% else %}
                <!-- App Content -->
                <div id="app__content" class="col-md-12 col--padded-large app__content">
            {% endif %}
                    <!-- App Content - Breadcrumbs -->
                    {% block breadcrumb %}
                        {% include "KunstmaanAdminBundle:Default:breadcrumbs.html.twig" %}
                    {% endblock %}
                    <!-- App Content - Flash Messages -->
                    {% block flashmessages %}
                        {% include "KunstmaanAdminBundle:Default:flashmessages.html.twig" %}
                    {% endblock %}
                    <!-- App Content - General Messages -->
                    {% block messages %}{% endblock %}
                    <!-- App Content - Header -->
                    {% block contentheader %}
                        {% include "KunstmaanAdminBundle:Default:contentheader.html.twig" %}
                    {% endblock %}
                    <!-- App Content - Content -->
                    {% block content %}{% endblock %}
                </div>
        </div>
    </main>

    {% block mainfooter %}
        {% include 'KunstmaanAdminBundle:Default:mainfooter.html.twig' %}
    {% endblock %}

    {% include 'KunstmaanAdminBundle:Default:_js_footer.html.twig' %}

{% endblock %}
</body>
</html>
