<footer role="contentinfo" class="main-footer container-fluid">
    <a target="_blank" href="http://www.kunstmaan.be">
        <img src="{{ asset('bundles/kunstmaanadmin/img/general/kunstmaan_dark.svg') }}" alt="Kunstmaan" class="pull-right" />
    </a>
</footer>
