<footer role="contentinfo" class="app__footer container-fluid">
    <a target="_blank" href="http://www.kunstmaan.be" class="app__footer__kunstmaan-link pull-right">
        <img src="/admin/img/general/kunstmaan_dark.svg" alt="Kunstmaan" />
    </a>
</footer>
