{% if menuitem.routeparams.id is defined %}
    {% set nodeId = 'node-' ~ menuitem.routeparams.id %}
{% else %}
    {% set nodeId = menuitem.internalname %}
{% endif %}
<li id="{{ nodeId }}" {% if menuitem.offline %}data-jstree='{"type":"offline"}'{% endif %} class="{% if menuitem.active %}jstree-open{% endif %}" {% if menuitem.role %}rel="{{menuitem.role}}"{% endif %}>
    <a href="{{ path(menuitem.route, menuitem.routeparams) }}" class="{% if currentMenuItem is not null and currentMenuItem.internalname == menuitem.internalname  %}jstree-anchor--active{% endif %}">
        {{ menuitem.internalname | trans }}
    </a>
    <ul>
        {% for menuitem in menuitem.navigationChildren %}
            {% include 'KunstmaanAdminBundle:Default:rectreeview.html.twig' %}
        {% endfor %}
    </ul>
</li>
