<!-- Search -->
<div class="input-group">
    <input type="text" id="searchVal" class="form-control" placeholder="Search">
    <span class="input-group-btn">
        <button type="button" id="search" class="btn btn-default">
            <i class="fa fa--big fa--search"></i>
        </button>
    </span>
</div>

<hr>

<!-- Tree -->
{% set currentMenuItem = adminmenu.current %}
<nav role="navigation" id="app__sidebar__navigation" class="app__sidebar__navigation">
    <ul>
        {% if lowestTopChild.appearInSidebar %}
            <li class="jstree-open" {% if lowestTopChild.role %}rel="{{lowestTopChild.role}}"{% endif %}>
                <a href="{{ path(lowestTopChild.route, lowestTopChild.routeparams) }}" class="{% if lowestTopChild.internalname == currentMenuItem.internalname %}jstree-anchor--active{% endif %}">
                    {{ lowestTopChild.internalname | trans }}
                </a>
                <ul>
        {% endif %}
        {% for menuitem in navigationChildren %}
            {% include 'KunstmaanAdminBundle:Default:rectreeview.html.twig' %}
        {% endfor %}
        {% if lowestTopChild.appearInSidebar %}
                </ul>
            </li>
        {% endif %}
    </ul>
</nav>
