/* ==========================================================================
   Cupcake

   Base-dev - use this for the development of cupcake

   Never add styles directly to this file - set up imports
   Style guide: https://github.com/necolas/idiomatic-css
   ========================================================================== */
/* Config
   ========================================================================== */
/* ==========================================================================
   Config

   Never add styles directly to this file - set up imports
   ========================================================================== */
/* ==========================================================================
   General Cupcake config

   This file is exclusively intended for setting up variables.
   Never add styles directly to this file
   ========================================================================== */
/* ==========================================================================
   Components

   This file is exclusively intended for setting up variables.
   Never add styles directly to this file
   ========================================================================== */
/* ==========================================================================
   Cookie consent

   This file is exclusively intended for setting up variables.
   Never add styles directly to this file
   ========================================================================== */
/* ==========================================================================
   Full Image Background

   This file is exclusively intended for setting up variables.
   Never add styles directly to this file
   ========================================================================== */
/* ==========================================================================
   Navigation

   This file is exclusively intended for setting up variables.
   Never add styles directly to this file
   ========================================================================== */
/* General
   ========================================================================== */
/* Scafolding
   ========================================================================== */
/* Colors
   ========================================================================== */
/* Animation
   ========================================================================== */
/* ==========================================================================
   Icons

   This file is exclusively intended for setting up variables.
   Never add styles directly to this file
   ========================================================================== */
/* ==========================================================================
   Slider

   Never add styles directly to this file - set up variables
   Style guide: https://github.com/necolas/idiomatic-css
   ========================================================================== */
/* Icon Fonts
   ========================================================================== */
/* Custom Navigation
   ========================================================================== */
/* ==========================================================================
   Audio Player

   This file is exclusively intended for setting up variables.
   Never add styles directly to this file
   ========================================================================== */
/* General
   ========================================================================== */
/* Play-Pause
   ========================================================================== */
/* Bar
   ========================================================================== */
/* Time
   ========================================================================== */
/* Volume
   ========================================================================== */
/* ==========================================================================
   Video link

   This file is exclusively intended for setting up variables.
   Never add styles directly to this file
   ========================================================================== */
/* ==========================================================================
   Overrides

   This file is exclusively intended for setting up variables.
   Never add styles directly to this file
   ========================================================================== */
/* Bourbon
   ========================================================================== */
/* Helpers
   ========================================================================== */
/* ==========================================================================
   Helpers

   Never add styles directly to this file - set up imports
   Style guide: https://github.com/necolas/idiomatic-css
   ========================================================================== */
/* ==========================================================================
   Placeholders

   Never add styles directly to this file - set up imports
   Style guide: https://github.com/necolas/idiomatic-css
   ========================================================================== */
/* ==========================================================================
   Buttons

   Never add styles directly to this file - set up imports
   Style guide: https://github.com/necolas/idiomatic-css
   ========================================================================== */
/* ==========================================================================
   Default transitions

   Style guide: https://github.com/necolas/idiomatic-css
   ========================================================================== */
.videolink__video-link {
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

/* ==========================================================================
   Mixins

   Never add styles directly to this file - set up imports
   Style guide: https://github.com/necolas/idiomatic-css
   ========================================================================== */
/* ==========================================================================
   Place image
   ========================================================================== */
/* ==========================================================================
   Opacity mixin with IE8 support
   ========================================================================== */
/* Components
   ========================================================================== */
/* ==========================================================================
   Components

   Never add styles directly to this file - set up imports
   ========================================================================== */
    /* ==========================================================================
       Icon font

       Based on icomoon style.css
       ========================================================================== */
/* General
   ========================================================================== */
@font-face {
  font-family: 'cupcake';
  src: url("../fonts/iconfont/fonts/cupcake.eot");
  src: url("../fonts/iconfont/fonts/cupcake.eot?#iefix") format("embedded-opentype"), url("../fonts/iconfont/fonts/cupcake.ttf") format("truetype"), url("../fonts/iconfont/fonts/cupcake.woff") format("woff"), url("../fonts/iconfont/fonts/cupcake.svg#cupcake") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'cupcake';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chevron-right:before {
  content: "\e600";
}

.icon-reorder:before {
  content: "\e601";
}

.icon-chevron-down:before {
  content: "\e602";
}

.icon-chevron-up:before {
  content: "\e603";
}

.icon-remove:before {
  content: "\e604";
}

.icon-play:before {
  content: "\e605";
}

.icon-pause:before {
  content: "\e606";
}

.icon-volume-up:before {
  content: "\e607";
}

.icon-volume-off:before {
  content: "\e608";
}

/* ==========================================================================
   Responsive navigation
   ========================================================================== */
/* General
   ========================================================================== */
.navigation__level {
  position: relative;
  float: left;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  background: #444444;
}

.navigation__level--sublevel {
  position: absolute;
  left: 0;
  z-index: 10;
  display: none;
  width: 100%;
  background: #cccccc;
}
.navigation__level--sublevel .navigation__item--active {
  background: #aaaaaa;
}
.navigation__level--sublevel .navigation__item--active .icon-chevron-right {
  display: none;
}

.navigation__item {
  display: block;
  float: left;
  width: auto;
  text-align: center;
}

.navigation__item--active {
  background: #333333;
}
.navigation__item--active > .navigation__link {
  color: white;
}

.navigation__item--sublevel {
  float: left;
  text-align: center;
}

.navigation__link {
  display: block;
  padding: 0 1.5em;
  height: 3em;
  line-height: 3em;
  color: white;
  text-decoration: none;
}
.navigation__link, .navigation__link:hover {
  text-decoration: none;
}

.navigation__link--sublevel {
  color: #333333;
}

.navigation__toggle {
  display: none;
  height: 3em;
  line-height: 3em;
  color: white;
  cursor: pointer;
}
.navigation__toggle .icon-remove, .navigation__toggle .icon-chevron-up {
  display: none;
}
.navigation__toggle .icon-remove, .navigation__toggle .icon-reorder {
  margin-left: .5em;
}

.navigation__toggle--active .icon-remove {
  display: inline-block;
}
.navigation__toggle--active .icon-chevron-up {
  display: inline;
}
.navigation__toggle--active .icon-reorder, .navigation__toggle--active .icon-chevron-down {
  display: none;
}

.navigation__toggle--top {
  padding: 0 1.5em;
  background: #333333;
  text-align: right;
}

.navigation__toggle--sublevel {
  position: absolute;
  top: 0;
  right: 0;
  width: 3em;
  text-align: center;
  border-left: 1px solid white;
  color: #333333;
}

/* Big version
   ========================================================================== */
.navigation--big .navigation__item:hover {
  background: #cccccc;
}
.navigation--big .navigation__item:hover .navigation__link {
  color: #333333;
}
.navigation--big .navigation__item:hover > .navigation__level--sublevel {
  display: block;
}
.navigation--big .navigation__item--sublevel:hover {
  background: #aaaaaa;
}
.navigation--big .navigation__item--sublevel:hover .navigation__link {
  color: #333333;
}

/* Small version
   ========================================================================== */
.navigation--small .navigation__level, .navigation--small .navigation__level--sublevel {
  background: none;
}
.navigation--small .navigation__level {
  display: block;
  overflow: hidden;
  height: 0;
}
.navigation--small .navigation__level--open {
  height: auto;
}
.navigation--small .navigation__level--sublevel {
  position: static;
  width: 100%;
}
.navigation--small .navigation__level--sublevel .navigation__item--active .icon-chevron-right {
  display: block;
  float: right;
  width: 3em;
  height: 3em;
  line-height: 3em;
  text-align: center;
}
.navigation--small .navigation__item {
  position: relative;
  float: none;
  overflow: hidden;
  text-align: left;
  background: #444444;
}
.navigation--small .navigation__item--active {
  background: #333333;
}
.navigation--small .navigation__item--active > .navigation__link {
  color: white;
}
.navigation--small .navigation__item--active .navigation__toggle--sublevel {
  color: white;
}
.navigation--small .navigation__item--sublevel {
  background: #cccccc;
}
.navigation--small .navigation__item--sublevel.navigation__item--active {
  background: #333333;
  color: white;
}
.navigation--small .navigation__link {
  border-top: 1px solid white;
  padding: 0 0 0 1.5em;
  color: white;
}
.navigation--small .navigation__link--sublevel {
  color: white;
}
.navigation--small .navigation__toggle {
  display: block;
}

/* Animate small version
   ========================================================================== */
.navigation--animated.navigation--small .navigation__level, .navigation--animated.navigation--small .navigation__level--sublevel {
  -webkit-perspective: 300px;
  -moz-perspective: 300px;
  perspective: 300px;
  -webkit-perspective-origin: 50% 50%;
  -moz-perspective-origin: 50% 50%;
  perspective-origin: 50% 50%;
}
.navigation--animated.navigation--small .navigation__level--open > .navigation__item {
  -webkit-transform: translate3d(0, 0, 0) rotateX(0deg);
  -moz-transform: translate3d(0, 0, 0) rotateX(0deg);
  -ms-transform: translate3d(0, 0, 0) rotateX(0deg);
  -o-transform: translate3d(0, 0, 0) rotateX(0deg);
  transform: translate3d(0, 0, 0) rotateX(0deg);
}
.navigation--animated.navigation--small .navigation__item {
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  transition: all 0.6s ease;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transform: translate3d(0, 8em, -8em) rotateX(-90deg);
  -moz-transform: translate3d(0, 8em, -8em) rotateX(-90deg);
  -ms-transform: translate3d(0, 8em, -8em) rotateX(-90deg);
  -o-transform: translate3d(0, 8em, -8em) rotateX(-90deg);
  transform: translate3d(0, 8em, -8em) rotateX(-90deg);
}

/* ==========================================================================
   Cookie consent
   ========================================================================== */
.cookie-bar {
  position: fixed;
  bottom: 0;
  top: auto;
  left: auto;
  right: auto;
  display: none;
  background-color: rgba(86, 86, 86, 0.95);
  text-align: center;
  width: 100%;
  padding: 10px 0 0 0;
  color: white;
  font-size: 13px;
}
.cookie-bar .cookie-bar__policy {
  color: white;
  text-decoration: underline;
}
.cookie-bar .cookie-bar__btn {
  margin: 0 0 0 5px;
}

.cookie-bar--visible {
  display: block;
}

/* ==========================================================================
   Full image background
   ========================================================================== */
/* General
   ========================================================================== */
.full-img-bg {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-attachment: fixed;
}

/* ==========================================================================
   Adjustments to Flexslider
   ========================================================================== */
/* ==========================================================================
   General
   ========================================================================== */
.slider-pp * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -webkit-backface-visibility: hidden;
}

/* ==========================================================================
   Browser Resets
   ========================================================================== */
.flex-container a:active, .flex-container a:hover, .flexslider a:active, .flexslider a:hover {
  outline: none;
}

.slides, .flex-control-nav, .flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* ==========================================================================
   Icon Fonts
   ========================================================================== */
@font-face {
  font-family: 'flexslider-icon';
  src: url("../vendor/flexslider/fonts/flexslider-icon.eot");
  src: url("../vendor/flexslider/fonts/flexslider-icon.eot?#iefix") format("embedded-opentype"), url("../vendor/flexslider/fonts/flexslider-icon.woff") format("woff"), url("../vendor/flexslider/fonts/flexslider-icon.ttf") format("truetype"), url("../vendor/flexslider/fonts/flexslider-icon.svg#flexslider-icon") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* ==========================================================================
   FlexSlider Necessary Styles
   ========================================================================== */
.flex-pauseplay span {
  text-transform: capitalize;
}

.flexslider {
  margin: 0;
  padding: 0;
}
.flexslider .slides > li {
  display: none;
  -webkit-backface-visibility: hidden;
  position: relative;
}
.flexslider .slides img {
  display: block;
  width: 100%;
}
.flexslider .slides:after {
  content: "\0020";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

html[xmlns] .slides {
  display: block;
}

* html .slides {
  height: 1%;
}

/* ==========================================================================
   FlexSlider Default Theme
   ========================================================================== */
.flexslider {
  background: white;
  border: none;
  border-radius: 0px;
  margin: 0;
  position: relative;
  zoom: 1;
}
.flexslider .slides {
  zoom: 1;
}

.flex-viewport {
  max-height: 3000px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
.loading .flex-viewport {
  max-height: 300px;
}

/* ==========================================================================
   Direction Nav
   ========================================================================== */
.flex-direction-nav a {
  text-decoration: none;
  display: block;
  width: 40px;
  height: 40px;
  margin: -20px 0 0;
  position: absolute;
  top: 50%;
  z-index: 10;
  overflow: hidden;
  opacity: 0;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease;
}

.flex-direction-nav {
  *height: 0;
}
.flex-direction-nav a {
  text-decoration: none;
  display: block;
  width: 50px;
  height: 50px;
  margin: -20px 0 0;
  position: absolute;
  top: 50%;
  z-index: 10;
  opacity: 0;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease;
}
.flex-direction-nav .flex-prev {
  left: 10px;
}
.flex-direction-nav .flex-next {
  right: 10px;
  text-align: right;
}

.flexslider:hover .flex-prev {
  opacity: 0.7;
}
.flexslider:hover .flex-next {
  opacity: 0.7;
}
.flexslider:hover .flex-next:hover {
  opacity: 1;
}
.flexslider:hover .flex-prev:hover {
  opacity: 1;
}

.flex-direction-nav .flex-disabled {
  opacity: 0 !important;
  filter: alpha(opacity=0);
  cursor: default;
}
.flex-direction-nav a:before {
  font-family: "flexslider-icon";
  font-size: 40px;
  display: inline-block;
  content: '\f001';
}
.flex-direction-nav a.flex-next:before {
  content: '\f002';
}

/* ==========================================================================
   Pause/Play
   ========================================================================== */
.flex-pauseplay a {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 5px;
  left: 10px;
  opacity: 0.8;
  z-index: 10;
  overflow: hidden;
  cursor: pointer;
  color: #000;
}
.flex-pauseplay a:before {
  font-family: "flexslider-icon";
  font-size: 20px;
  display: inline-block;
  content: '\f004';
}
.flex-pauseplay a:hover {
  opacity: 1;
}
.flex-pauseplay a.flex-play:before {
  content: '\f003';
}

/* ==========================================================================
   Control Nav
   ========================================================================== */
.flex-control-nav {
  width: 100%;
  position: absolute;
  bottom: 20px;
  text-align: center;
}
.flex-control-nav li {
  margin: 0 6px;
  display: inline-block;
  zoom: 1;
  *display: inline;
}

.flex-control-paging li a {
  width: 11px;
  height: 11px;
  display: block;
  background: #666;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  text-indent: -9999px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -o-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
}
.flex-control-paging li a:hover {
  background: #333;
  background: rgba(0, 0, 0, 0.7);
}
.flex-control-paging li a.flex-active {
  background: #000;
  background: rgba(0, 0, 0, 0.9);
  cursor: default;
}

/* ==========================================================================
   Control Thumbs
   ========================================================================== */
.flex-control-thumbs {
  margin: 5px 0 0;
  position: static;
  overflow: hidden;
}
.flex-control-thumbs li {
  width: 25%;
  float: left;
  margin: 0;
}
.flex-control-thumbs img {
  width: 100%;
  display: block;
  opacity: .7;
  cursor: pointer;
}
.flex-control-thumbs img:hover {
  opacity: 1;
}
.flex-control-thumbs .flex-active {
  opacity: 1;
  cursor: default;
}

/* ==========================================================================
   Caption
   ========================================================================== */
.slider-pp__caption {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
}

/* ==========================================================================
   Thumbs
   ========================================================================== */
.slider--pp__thumbs {
  *zoom: 1;
  display: none;
}
.slider--pp__thumbs:before, .slider--pp__thumbs:after {
  content: " ";
  display: table;
}
.slider--pp__thumbs:after {
  clear: both;
}
@media (min-width: 768px) {
  .slider--pp__thumbs {
    display: block;
  }
}

.slider-pp__thumbs-wrapper {
  *zoom: 1;
}
.slider-pp__thumbs-wrapper:before, .slider-pp__thumbs-wrapper:after {
  content: " ";
  display: table;
}
.slider-pp__thumbs-wrapper:after {
  clear: both;
}

.slider-pp__thumbs--item {
  background: rgba(0, 0, 0, 0.85);
  color: white;
  float: left;
  cursor: pointer;
  padding: 1.5em;
}
.slider-pp__thumbs--item.flex-active {
  background-color: black;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */
@media screen and (max-width: 768px) {
  .flex-direction-nav .flex-prev {
    opacity: 1;
    left: 10px;
  }
  .flex-direction-nav .flex-next {
    opacity: 1;
    right: 10px;
  }

  .flexslider .slides > li {
    display: block;
  }
}
/* ==========================================================================
   No JavaScript Fallback
   ========================================================================== */
.no-js .slides > li:first-child {
  display: block;
}

/* ==========================================================================
   Custom Audioplayer
   ========================================================================== */
/* General
   ========================================================================== */
.audioplayer {
  position: relative;
  z-index: 1;
  display: block;
  width: 100%;
  max-width: 30em;
  height: 2.5em;
  background: #1d3037;
}

/* Default Player
   ========================================================================== */
.audioplayer__defaultplayer {
  width: 0;
  height: 0;
  visibility: hidden;
}

/* Play-Pause
   ========================================================================== */
.audioplayer__playpause {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  width: 2.5em;
  height: 100%;
  padding: 0;
  background: #c7c400;
  text-align: center;
  cursor: pointer;
  border: none;
  outline: none;
  color: white;
}

.audioplayer__playpause__icon-play {
  display: block;
}

.audioplayer__playpause__icon-pause {
  display: none;
}

.audioplayer--playing .audioplayer__playpause {
  background: black;
  color: white;
}
.audioplayer--playing .audioplayer__playpause__icon-play {
  display: none;
}
.audioplayer--playing .audioplayer__playpause__icon-pause {
  display: block;
}

/* Bar
   ========================================================================== */
.audioplayer__bar, .audioplayer__bar--loaded, .audioplayer__bar--played {
  position: absolute;
}

.audioplayer__bar {
  z-index: 1;
  top: 50%;
  right: 1em;
  left: 3.5em;
  height: .75em;
  margin-top: -0.375em;
  background-color: #333333;
  cursor: pointer;
}
@media (min-width: 30em) {
  .audioplayer__bar {
    right: 6em;
    left: 6em;
  }
}

.audioplayer__bar--loaded, .audioplayer__bar--played {
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
}

.audioplayer__bar--loaded {
  background-color: black;
  z-index: 1;
}

.audioplayer__bar--played {
  background-color: #c7c400;
  z-index: 2;
}

/* Time
   ========================================================================== */
.audioplayer__time {
  float: left;
  margin-top: 4em;
  color: black;
  font-size: 0.7em;
  line-height: 100%;
}
@media (min-width: 30em) {
  .audioplayer__time {
    position: absolute;
    top: 50%;
    margin: -.5em 0 0;
    color: white;
  }
}

.audioplayer__time--current {
  left: 0;
}
.audioplayer__time--current:after {
  content: '-';
  margin: 0 .5em;
}
@media (min-width: 30em) {
  .audioplayer__time--current {
    left: 5em;
  }
  .audioplayer__time--current:after {
    display: none;
  }
}

.audioplayer__time--duration {
  left: 4em;
}
@media (min-width: 30em) {
  .audioplayer__time--duration {
    left: auto;
    right: 5em;
  }
}

/* Volume
   ========================================================================== */
.audioplayer__volume {
  z-index: 2;
  position: absolute;
  top: 0;
  right: 0;
  display: none;
  width: 2.5em;
  height: 100%;
}
.audioplayer__volume:hover .audioplayer__volume__adjust {
  display: block;
}
@media (min-width: 30em) {
  .audioplayer__volume {
    display: block;
  }
}

.audioplayer__volume__button {
  width: 100%;
  height: 100%;
  padding: 0;
  line-height: 2.5em;
  background: #c7c400;
  color: white;
  text-align: center;
  cursor: pointer;
  border: none;
  outline: none;
}

.audioplayer__volume__button__icon-volume-up {
  display: block;
}

.audioplayer__volume__button__icon-volume-off {
  display: none;
}

.audioplayer--muted .audioplayer__volume__button__icon-volume-up {
  display: none;
}
.audioplayer--muted .audioplayer__volume__button__icon-volume-off {
  display: block;
}

.audioplayer__volume__adjust {
  position: absolute;
  top: auto;
  bottom: 100%;
  display: none;
  width: 100%;
  height: 6.25em;
  cursor: default;
  background: #1d3037;
}

.audioplayer__volume__adjust__control {
  z-index: 1;
  position: relative;
  width: 40%;
  height: 80%;
  margin: 30% auto 0;
  background-color: black;
  cursor: pointer;
}

.audioplayer__volume__adjust__control__state {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #c7c400;
}

/* Mini fallback player
   ========================================================================== */
.audioplayer--mini {
  width: 2.5em;
}

.audioplayer--mini .audioplayer__playpause {
  width: 100%;
}

/* ==========================================================================
   Videolinks
   ========================================================================== */
/* General
   ========================================================================== */
.videolink {
  z-index: 0;
  position: relative;
}

.videolink__video-link {
  z-index: 2;
  position: relative;
  display: block;
}

.videolink__video-link--hide {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

.videolink__video-link--hidden {
  z-index: -1;
  visibility: hidden;
}

.videolink__video-link__image {
  z-index: 0;
  position: relative;
  width: 100%;
  max-width: none;
}

.videolink__video-container {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
}

/* Overrides
   ========================================================================== */
/* ==========================================================================
   Overrides

   Never add styles directly to this file - set up imports
   ========================================================================== */
/* ==========================================================================
   Boostrap overrides

   ========================================================================== */
/* Fix aggressive required focus state
   ========================================================================== */
input:focus:invalid,
textarea:focus:invalid,
select:focus:invalid {
  color: #ccc;
}
input:focus:invalid:focus,
textarea:focus:invalid:focus,
select:focus:invalid:focus {
  border-color: rgba(82, 168, 236, 0.8);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}
