/* ==========================================================================
   Config for Cupcake

   Never add styles directly to this file - set up imports and vars
   Style guide: https://github.com/necolas/idiomatic-css
   ========================================================================== */

// Which components would you like to use?
$use-cookie-consent:    false;
$use-full-img-bg:       false;
$use-navigation:        true;
$use-iconfont:          false;
$use-slider:            false;


// Which overrides would you like to use?
$use-bootstrap-overrides:    false;
