/* ==========================================================================
   Loading
   ========================================================================== */

%loading {
    content: ' ';
    position: absolute;
    left: 50%;
    display: block;
    width: 30px;
    height: 30px;
    background-color: $gray-lighter;
    border-radius: 3px;
    margin: -15px 0 0 -15px;
    @include animation(rotateplane 1.2s infinite ease-in-out);
}

//%loading--btn {
//    content: ' ';
//    position: absolute;
//    top: 50%;
//    left: 1em;
//    display: block;
//    width: 20px;
//    height: 20px;
//    background-color: $blue-light;
//    border-radius: 3px;
//    margin: -10px 0 0 0;
//    @include animation(rotateplane 1.2s infinite ease-in-out);
//}
