/* ==========================================================================
   Cupcake Navigation adjustments
   ========================================================================== */

.navigation {
    float: left;
    width: 100%;

    @media (min-width: $screen-md) {
        border-left: 1px solid $green;
    }
}

.navigation__level--sublevel {
    left: auto;
    top: 100%;
}

.navigation__item--right {
    float: right;
}


.navigation--small {
    overflow: hidden;
    .navigation__item__text-small-only {
        display: inline-block;
    }
}

.navigation__item__text-small-only {
    display: none;
}
